<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="/reglas">Reglas</a></li>
                    <li><a href="/terminos">Términos</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>Casino TRICASINO</h3>
                <p>Esta página web fue hecha por estudiantes de Ingeniería de Sistemas de la Universidad de Lima en el ciclo 2021-2 Gaa</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Tricasino © 2021</p>
    </div>
</footer>