<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" id="navbar-global" >
    <div class="container">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <img id="logo" src="https://objectstorage.us-ashburn-1.oraclecloud.com/n/iddhi0mte51h/b/practica/o/imagenes%2FTRICASINO.png">
        <div></div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto nav-right">
                <li class="nav-item"><a class="nav-link active" id="nav-inicio" href="/">Inicio</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="nav-servicios" href="#" >Servicios</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="services.html">Price Packages</a><a class="dropdown-item" href="#">Order Services</a><a class="dropdown-item" href="#">Custom Request</a></div>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="contact.html" id="nav-logout">Logout</a></li>
            </ul>
            <p class="ms-auto navbar-text actions">
                <a class="login" id="botonLogin" href="login.html">Iniciar Sesión</a>
                <a class="btn btn-light action-button" id="botonRegistro" role="button" href="signup.html">Regístrate</a>
            </p>
        </div>
    </div>
</nav>