<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/admin" class="navbar-brand">Admin</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Inicio</a>
                <a href="/nosotros" class="nav-item nav-link">About</a>
                <a href="/" class="nav-item nav-link">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</nav>