<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://objectstorage.us-ashburn-1.oraclecloud.com/n/iddhi0mte51h/b/practica/o/general-css%2FBlack-Navbar.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    
    
    <div>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: center / contain no-repeat, center / contain no-repeat, center / contain;"></div>
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Suscríbete a nuestro newsletter</h2>
                        <p class="text-center">Gánate con las fijas para apostar sin temor a perder. Da click a continuación para registrar tu correo electrónico.</p>
                    </div>
                    <div class="buttons"><a class="btn btn-primary disabled" role="button" href="#" style="background: rgb(244,71,107);">Registrarse</a></div>
                </div>
            </section>
        </div>
    </div>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Reglas</a></li>
                        <li><a href="#">Términos</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Casino TRICASINO</h3>
                    <p>Esta página web fue hecha en dos días por estudiantes de Ingeniería de Sistemas de la Universidad de Lima en el ciclo 2021-2 Gaa</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Tricasino © 2021</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>