<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="imagenes/casino.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inicio</title>
    <link rel="stylesheet" href="index-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="index-assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="index-assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="index-assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="index-assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="index-assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="index-assets/css/styles.css">
</head>

<body>
    
    <%- include('header') %>

    <div>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;height: 550px;"></div>
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <section class="highlight-clean">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Suscríbete a nuestro newsletter</h2>
                    <p class="text-center">Gánate con las fijas para apostar sin temor a perder. Da click a continuación para registrar tu correo electrónico.</p>
                </div>
                <div class="buttons"><a class="btn btn-primary disabled" role="button" href="#" style="background: rgb(244,71,107);">Registrarse</a></div>
            </div>
        </section>
    </div>
    
    <%- include('footer') %>

    <script src="index-assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="index-assets/js/Simple-Slider.js"></script>
</body>

</html>