<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>terminos</title>
    <link rel="stylesheet" href="terminos-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="terminos-assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="terminos-assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="terminos-assets/css/Highlight-Phone.css">

    <link rel="stylesheet" href="index-assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="index-assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="index-assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="index-assets/css/styles.css">

</head>

<body>
    
    <%- include('header')-%> 

    <div id="div-terminos">
        <section class="highlight-phone">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="intro">
                            <h2>Términos y condiciones</h2>
                            <p>El único término y condición existente en esta plataforma es que nos asegures que te vas a divertir. Apuesta seguro y diviértete en Tricasino.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-none d-md-block phone-mockup"><img class="device" src="assets/img/ter.png">
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <%- include('footer')-%> 

    <script src="terminos-assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>