<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>reglas</title>
    <link rel="stylesheet" href="reglas-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="reglas-assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="reglas-assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="reglas-assets/css/dh-row-titile-text-image-right-1.css">
    <link rel="stylesheet" href="reglas-assets/css/Highlight-Phone.css">

    <link rel="stylesheet" href="index-assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="index-assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="index-assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="index-assets/css/styles.css">
</head>

<body>

    <%- include('header')-%> 

    <div id="empresa">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-7 col-lg-7">
                    <h1 style="font-size: 41.4px;text-align: center;">Reglas y política de privacidad</h1>
                    <p style="font-size: 19px;text-align: justify;"><br>El presente Política de Reglas establece los términos en que&nbsp;&nbsp;usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.<br><br></p>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-5"><img src="https://objectstorage.us-ashburn-1.oraclecloud.com/n/iddhi0mte51h/b/practica/o/law-document.jpeg"></div>
            </div>
        </div>
    </div>

    <%- include('footer')-%> 

    <script src="reglas-assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>