<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon"  href="imagenes/casino.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nosotros</title>
    <link rel="stylesheet" href="nosotros-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="nosotros-assets/css/Article-List.css">
    <link rel="stylesheet" href="nosotros-assets/css/styles.css">
    
    <link rel="stylesheet" href="index-assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="index-assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="index-assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="index-assets/css/styles.css">
</head>

<body>
    
    <%- include('header') %>
    
    <div>
        <section class="article-list">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Los más buscados</h2>
                    <p class="text-center">Nuestro equipo profesional es el más capacitado del Perú</p>
                </div>
                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="http://oliva.ulima.edu.pe/imagenes/fotos/235645.jpg"></a>
                        <h3 class="name">Alonso Paz</h3>
                        <p class="description">Backend - Frontend</p><a class="action" href="#"></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="http://oliva.ulima.edu.pe/imagenes/fotos/217356.jpg"></a>
                        <h3 class="name">Cristian Murrieta</h3>
                        <p class="description">Backend - Frontend</p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="http://oliva.ulima.edu.pe/imagenes/fotos/209071.jpg"></a>
                        <h3 class="name">Jair&nbsp;De La Cruz</h3>
                        <p class="description">Backend</p><a class="action" href="#"></a>
                    </div>
                    <div class="col-sm-6 col-md-4 align-self-center mx-auto item"><a href="#"><img class="img-fluid" src="http://oliva.ulima.edu.pe/imagenes/fotos/244181.jpg"></a>
                        <h3 class="name">Junior Rodrigo</h3>
                        <p class="description">Frontend</p><a class="action" href="#"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('footer') %>

    <script src="nosotros-assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>