#botonRegistro{
    color: rgba(0,0,0,0.9);background: var(--bs-gray-200);
    border-radius: 10px;border-style: solid;
    border-color: rgba(0,0,0,0.9);font-size: 16px;
    padding: 5px 8px;
}
#botonLogin{
    color: rgba(224,217,217,0.9);
}

#nav-inicio{
    color: rgba(224,217,217,0.9);
}
#nav-servicios{
    color: rgba(224,217,217,0.9);
}